/*
 * Shortcode: current-theme.scss
 * -----------------------------------------------
*/
.features-icon i {
	background: $theme-color3;
}
.features-block .features-icon i:hover {
	background: $theme-color1;
}
.service-feature-icon i {
	background: $theme-color1;
}
.book-service-area {
	border-color: $theme-color2;
}
.cp-video-divider .play-video-button .effect-wrapper {
    background: $theme-color1;
}
.features-block {
	.features-icon {
		i {
			color: $theme-color1;
			&:hover {
			}
		}
	}
	.features-title .title {
		color: #fff;
		line-height: 30px;
	}
}
.call-for-estimate-parent .call-for-estimate {
	background: $theme-color2;
}
.tm-sc-progress {
	&.theme-style {
		.tm-sc-progress-bar {
			.progress-title-holder {
				.percent {
					background: $theme-color1;
				}
			}
			.progress-holder {
				.progress-content {
					&:after {
						background: $theme-color1;
					}
				}
			}
		}
	}
}